<!-- <button pButton type="button" icon="pi pi-check" iconPos="left"></button> -->
<p-button
  label="Dona"
  icon="pi pi-check"
  [routerLink]="['/dona']"
  (click)="cambiar('dona')"
  iconPos="left" type="button"
></p-button>
<p-button
  label="Bar"
  icon="pi pi-check"
  [routerLink]="['/bar']"

  iconPos="left" type="button"
></p-button>
<app-home></app-home>
<div class="container">
  <router-outlet></router-outlet>
<!-- <app-bar></app-bar>
<br /><br />
<app-pruebas></app-pruebas>
 -->

</div>

